html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Conv_gs', 'Gill Sans', Arial, sans-serif;
  font-weight: lighter;
}

.header {
  color: rgb(255,253,247);
  position: fixed;
  width: 100%;
  height: 40px;
  background-color: red;
  opacity: 0.6;
}

.container {
  width: 100%;
  height: 100%;
    display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container > div {
  width: 100%;
  height: 100%;
}


.content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.content > div {
  width: 100%;
  height: 4000px;
  /*border: 3px dotted green;*/
  /*border-left: 2px solid rgb(81, 130, 157);
  content:"";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 50%;*/
}

#GuardianContent {
  background-image: url("../rescources/guardian.jpg");
  background-repeat: repeat-y;

}

#NYtimesContent {
  background-image: url("../rescources/nytimes.jpg");
  background-repeat: repeat-y;
  border-left: 2px solid rgb(81, 130, 157);
}

/*#separation-line:after {
    content:"";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 100%;

}*/

.article {
 padding: 30px;
}

.article h2 {
  padding-left: 5px;
  background-color: red;
  color: rgb(255,253,247);
  font-weight: bold;
  font-size: 20px;
}

.article p {
  font-size: 18px;
}
