html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Conv_gs', 'Gill Sans', Arial, sans-serif;
  font-weight: lighter;
}

a {
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  text-decoration: underline;
}


#header {
  position: fixed;
  margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 40px;
  background-color: #c00;
  opacity: 0.6;
  color: rgb(255,253,247);
  display: inline-block;
}


ul .nav_days_links {
      width:100%;
      margin:0 auto;
      padding:0;
      list-style:none;
      text-align:center;
      font-weight: 300;
      letter-spacing: .04em;

  }
.nav_days_links li {
  display:inline-block;
    width:14%;
    margin:0;
    padding:0;

}

.nav_days_links a {
  text-align:center;
    margin:0;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    display:block;
    font-size: 16px;
}

.nav_days_links a:hover {
    color: rgb(81, 130, 157);
    opacity: 0.9;
    border:none;
}

#newspaperTitles {
  display: inline-block;
  position: fixed;
  background-color: black;
  width:100%;
  top:40px;
  height: 50px;
  font-size: 22px;
  color: #CAC9C9;
}

.NYTimes {
/*color: rgb(255,253,247);*/
float: right;
padding-right: 70px;
margin-top: 15px;
}

.guardian{
  /*color: rgb(255,253,247);*/
  padding-left: 70px;
  float: left;
  margin-top: 15px;
  }

.container {
  width: 100%;
  height: 100%;
    display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container > div {
  width: 100%;
  height: 100%;
}


.content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.content > div {
  width: 100%;
  height: 4000px;
}

#GuardianContent {
  background-image: url("../rescources/guardian.jpg");
  background-repeat: repeat-y;

}

#NYTimesContent {
  background-image: url("../rescources/possible.jpg");
  background-repeat: repeat-y;
  border-left: 2px solid rgb(81, 130, 157);
}

.article {
 padding: 30px;
}

.article h2 {
  padding-left: 5px;
  background-color: #c00;
  color: #fefefe;
  font-size: 20px;
  font-weight: lighter;
}

.article p {
  font-size: 18px;
  font-family: 'News Cycle', sans-serif;

}
